.service__item span i {
  font-size: 2.5rem;
  color: #f9a826;
}
.service__item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.service__item h6:hover {
  color: #f9a826;
}
@media only screen and (max-width: 768px) {
  .service__item h6 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 576px) {
  .service__item{
    position: relative;
    border: 1px solid rgba(0, 150, 205, 0.503);
    text-align: center;
  
  }
  .batu__container{
    position: relative;
    width: 50%;
  }
}